/*@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Raleway', sans-serif;
    background: url("../img/pex.jpg");
    background-size: cover;
    background-position: top center;
}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(138, 59, 59, 0.3), 
    rgba(0, 0, 0, 0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
/*
header input{
    width: 100%;
    max-width: 200px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 225, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #df6c00;
    color: #313131;   
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}
*/

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: white;
    font-size: 16px;
}

.current .temp{
    color: white;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .desc {
    color: white;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low{
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.search-box{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-text{
    width: 200px;
    padding: 0 6px;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 35%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
}

/*
.search-box{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.app-wrap .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content h1{
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 8px 300px #000;
    font-size: 300%;
}



.search-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    transition: .2s ease-out;
}

.search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
*/